<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar alojamiento</title>
</head>
<body>

    <p>Hemos buscado los alojamientos con capacidad para : {{info1}}</p>
    
    

    <ul>
    {% for alojamientos in info2 %}

        <li>{{alojamientos.capacidad}}</li>
        <li>{{alojamientos.nombreA}}</li>

   
   
   
    {% endfor%}




    </ul>
    
</body>
</html>